@import "tailwindcss";
@plugin 'daisyui' {
    themes: all;
}

html body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.search-container {
    width: 35%;
    height: 50%;
   
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    gap: 1rem;
    width: 30%; 
    background-color: rgb(37, 97, 188)
}

.weather-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 1rem;
    width: 30%;

    
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    
    
}

.forecast-container{
    display: flex;
    padding: 1rem;
    gap: 1rem;
  
}

.forecast-day {
    display: flex;
    flex-wrap: wrap;
}



label {
    font-weight: bold;
    font-size: 20px;
    
}

input {
    border: 1px solid gray;
    padding: .5rem;
    width: 100%;
    color: rgba(0, 0, 0, 0.449);
}

.item {
    font-weight: bold;
    width: 100%;
}