@import "tailwindcss";
@plugin 'daisyui' {
    themes: all;
}

html body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.search-weather {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 768px) {
  .search-weather {
    grid-template-columns: 2fr 2fr;
    gap: 40px;
  }
}

.weather-container {
   display: flex;
   flex-direction: column;
   font-size: larger;
   text-align: center;
   align-items: center;
  
    
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 1rem;
    gap: 2rem;
    
    
}

.forecast {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;
  gap: 1rem;

}

@media (min-width: 768px) {
  .forecast {
    grid-template-columns: repeat(5, 1fr);
  }
}




label {
    font-weight: bold;
    font-size: 20px;
    
}

input {
    border: 1px solid gray;
    padding: .5rem;
    font-size: larger;
    text-align: center;
    width: 100%;
    color: rgba(0, 0, 0, 0.449);
}

.item {
    font-weight: bold;
    width: 100%;
}
.forecast img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}